TCN/__pycache__/*
env/envdata/*.pkl
env/__pycache__/*

env/*.pyc
env/mazeenv/__pycache__/*
env/mazeenv/*
env/dist/*
env/*.egg-info
__pycache__/*
checkpoints/*
__pycache__/*
logs/*
__pycache__/*
__pycache__/model.cpython-36.pyc
__pycache__/model.cpython-36.pyc
